<% if (!is_year()) { %>

<div class="row content-archive">
    
    <h2 class="archive-title">Archive</h2>
    
    <div class="col-1-2">
        
        <h3>Archive</h3>
        
        <%- list_archives() %>
        
    </div>
    
    <div class="col-1-2">
        
        <h3>Categories</h3>
        
        <%- list_categories() %>
        
    </div>
    
</div>

<% } else { %>

<div class="row content-archive">
    
    <h2 class="archive-title"><%= page.year + '/' + page.month %></h2>
    
    <ul class="archive-post">
        
        <% page.posts.each(function(article){ %>
        
            <li>
                
                <p class="archive-info">
                  <span class="archive-cat">
                      <% if (article.categories && article.categories.length){ %>
                        <%
                        var cats = [];
                        article.categories.forEach(function(cat){
                          cats.push('<a href="' + config.root + cat.path + '">' + cat.name + '</a>');
                        });
                        %>
                          <%- cats.join(', ') %>
                      <% } %>
                  </span>
                  <span class="archive-date">
                      <a href="<%- url_for(article.path) %>"><%= date(article.date) %></a>
                  </span>
                  <span class="clear"></span>
                </p>
                
                <% if (article.link) { %>
        
                <h3 class="title-link">
                    <a href="<%- url_for(article.link) %>" title="<%= article.link %>" target="_blank"><%= article.title %></a>
                </h3>
        
                <% } else { %>
                
                <h3 class="title-link"><a href="<%- url_for(article.path) %>"><%= article.title %></a></h3>
                <% } %>
                
            </li>
        
        <% }) %>
        
    </ul>

    <%- partial('_partial/nav-archive') %>
    
    
</div>

<% } %>
